{{#if resume.education.length}}
<section class="education">
	<h2>Education</h2>
	{{#each resume.education}}
	<div class="institution">
		<div class="header">
			<h3>{{institution}}</h3>
			<span>{{> date-range}}</span>
		</div>
		<p>
			{{studyType}}{{#if area }}, {{area}}{{/if}}
		</p>
	</div>
	{{/each}}
</section>
{{/if}}