{{#if resume.languages.length}}
  <h2>Languages</h2>
  <p class="language-list">
    {{#each resume.languages}}
      <strong>{{language}}</strong>{{#if fluency}}&nbsp;({{fluency}}){{/if}}{{#unless @last}}&nbsp;|&nbsp;{{/unless}}
    {{/each}}
  </p>
{{/if}}