<div class="position-header">
  <h4 class="position-title">
    {{#if position}}
      {{position}}
    {{/if}}
  </h4>
  <span>{{> date-range}}</span>
</div>

{{#if summary}}
  <div class="summary">
    <p>{{summary}}</p>
  </div>
{{/if}}

{{#if highlights.length}}
  <ul class="highlights">
    {{#each highlights}}
      <li>{{.}}</li>
    {{/each}}
  </ul>
{{/if}}