<div class="position">
  <div class="header">
    <h4>
      {{#if position}}
      {{position}}
      {{/if}}
    </h4>
    <div class="details">
      <span>({{location}})</span>
      <span>{{> date-range}}</span>
    </div>
  </div>

  {{#if summary}}
  <div class="summary">
    <p>{{summary}}</p>
  </div>
  {{/if}}

  {{#if highlights.length}}
  <ul class="highlights">
    {{#each highlights}}
    <li>{{.}}</li>
    {{/each}}
  </ul>
  {{/if}}
</div>