{{#if resume.skills.length}}
<section class="skills">
    <h2>Skills</h2>
    {{#each resume.skills}}
    <div class="skill">
        <b>{{name}}</b>{{#if level}} ({{level}}){{/if}}:
        {{#each keywords}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}
    </div>
    {{/each}}
</section>
{{/if}}